.wrapper {
  background: linear-gradient(135deg, #ee9ae5 0%, #5961f9 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 42px;
  border: 0px solid #fff;
  color: #fff;
  padding: 20px;
  width: 30%;
  margin: 20px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: transform 3.5s ease-in-out; */
}
/* 
.wrapper:hover {
  background: linear-gradient(135deg, #5961f9 0%, #ee9ae5 100%);
  box-shadow: 0px 4px 4px #5961f9;
  /* transition: 0.5s; */
