.wrapper {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 50px;
}

.info {
  width: 20%;
  padding-right: 20px;
}

.cards {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
}
