.wrapper {
  width: 90%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
    136.29deg,
    var(--primary-color),
    var(--secondary-color),
    var(--main-color)
  );
  border-radius: 29px;
  height: 50vh;
  margin-top: 6rem;
  color: var(--white);
  align-items: center;

  background-size: 200% 200%;

  -webkit-animation: gradientAnimation 10s ease infinite;
  -moz-animation: gradientAnimation 10s ease infinite;
  -o-animation: gradientAnimation 10s ease infinite;
  animation: gradientAnimation 10s ease infinite;
}

.leftContainer {
  padding: 5rem;
}

.leftContainer h3 {
  width: 80%;
  font-size: 4rem;
  padding: 0;
  margin: 0;
}

.leftContainer p {
  font-size: 1.5rem;
}

.rightContainer {
  width: 60%;
  display: block;
  margin-left: auto;
  max-width: 600px;
  animation: moveUpDown 2s linear infinite;
  position: relative !important;
  left: 0;
  bottom: 0;
}

.btn {
  width: auto;
  padding: 0.75rem 1rem;
  background-color: var(--white);
  color: var(--primary-color);
  border: 2px solid var(--white);
  border-radius: 50px;
  font-weight: 600;
  font-size: 1.2rem;
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.035);
  background-color: var(--white);
  border: 2px solid var(--white);
  box-shadow: 0 3px 10px var(--shadow);
  transition: 0.2s;
}

/* Animations */
@keyframes moveUpDown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

@-webkit-keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-o-keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
